{% extends 'base.html' %}

{%block content%}
{% load static %}


<section class="jumbotron text-center">
    <div class="container row text-center">
        <a class="col-3 btn dugmelevo" href="/graf">GRAF</a>
        <a class="col-3 btn dugme" href="/filter">SEARCH/FILTER</a>
        <a class="col-3 btn dugmedesno" href="/brojevi">BROJEVI</a>
    </div>
</section>

<style>
         .dugmelevo{
            margin-right: 50px;
        }
        .dugmedesno{
            margin-left: 50px;

        }
        .dugme{
            margin-left: 50px;
            margin-right: 50px;
            text-align: center;
        }
        .divklasa{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn{
            margin-top: 50px;
        }
        .jumbotron{
            margin-top: -50px;
            max-height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }


</style>


    <div class="row">
        <div class="col-2">

        </div>
    <div class="col-8">

        <div class="container">

            <div class="row">

                {% for instance in obj_list %}

                    <div class="col-4 ">
                        <p class="card-text">{{instance.id}}</p>
                        <p class="card-text">{{instance.ime}}</p>
                        <p class="card-text">{{instance.adresa}}</p>
                        <p class="card-text">{{instance.email}}</p>
                        <p class="card-text">{{instance.grad}}</p>
                        <p class="card-text">{{instance.password}}</p>
                        <p class="card-text">{{instance.username}}</p>

                    </div>
                        <span></span>


                {% endfor %}


            </div>

        </div>

    </div>
</div>
{% endblock %}