{% extends 'base.html' %}

{%block content%}
{% load static %}


<section class="jumbotron text-center">
    <div class="container row ">
        <a class="col-3 btn dugmelevo" href="/graf">GRAF</a>
        <a class="col-3 btn dugme" href="/filter">SEARCH/FILTER</a>
        <a class="col-3 btn dugmedesno" href="/brojevi">BROJEVI</a>
    </div>
</section>

<style>
         .dugmelevo{
            margin-right: 50px;
        }
        .dugmedesno{
            margin-left: 50px;

        }
        .dugme{
            margin-left: 50px;
            margin-right: 50px;
            text-align: center;
        }
        .divklasa{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn{
            margin-top: 50px;
        }
        .jumbotron{
            margin-top: -50px;
            max-height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #neki{
            text-align: center;
        }


</style>




            <div class="container" id="neki">

               <h1>PRITISNUTI <br><br> NA ZELJENU <br><br>OPCIJU <br><br>PREDSTAVLJANJA<br><br> FILTRIRANJA</h1>


            </div>


{% endblock %}